<ion-header>
  <ion-toolbar>
    <ion-title>
      Court Murder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="courtContentContainer">
        <h3>What did she say?</h3>
        <p>We can figure out some of her old English but...</p>
        <p>We need to know what she said to determine if it was a virtous heroic deed of self defence or if the woman was acting out of evil.</p>
        <audio controls>
        <source src="/assets/forgivemeWeb.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
        <div class="sectionForText">
                <ion-icon class="tada animated infinite" name="lock"></ion-icon> <span class="textClue">Forgive...</span> <ion-input class="inputStyle" placeholder=" Enter text" (keyup)="onKey1($event)"></ion-input>
                <ion-icon class="tada animated infinite" name="lock"></ion-icon> <span class="textClue">I'm...</span> <ion-input class="inputStyle" (keyup)="onKey2($event)" placeholder=" Enter text"></ion-input>
        </div>
        <div class="answersCourt">
            <p>{{firstAnswerCourt}}</p>
            <br />
            <p>{{secondAnswerCourtHidden}}</p>
        </div>
    </div>
</ion-content>
