<ion-header>
  <ion-toolbar>
    <ion-title>
      Dungeon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="stepsContainer">
        <ul>
            <li>
                <h2 class="textColorStepsTitle">Steps</h2>
            </li>
            <li class="textColorSteps">
                <h4 >1. Click on the <a href="https://www.proprofs.com/games/puzzle/sliding/feudal-hell/">link</a></h4>
            </li>
            <li class="textColorSteps">
                <h4>
                    2. Solve the <b>puzzle</b>
                </h4>
                <img src="/assets/puzzle.png" />
            </li>
            <li class="textColorSteps">
                <h4>3. Enter a name</h4>
                <img src="/assets/name.png" />
            </li>
            <li class="textColorSteps">
                <h4>4. Get the number on the award</h4>
                <img src="/assets/award.png" />
            </li>
        </ul>
    </div>
</ion-content>
